<script type="text/javascript">
    var DROPZONE_MESSAGE = '{{ icon('upload') }}&nbsp;&nbsp;{{ trans('anomaly.module.files::uploader.instructions') }}';
    var DROPZONE_DISK = '{{ table.options.disk.id }}';
    var DROPZONE_FOLDER = '{{ table.options.folder.id }}';
</script>

{{ asset_add('scripts.js', 'anomaly.module.files::js/dropzone.js') }}
{{ asset_add('scripts.js', 'anomaly.module.files::js/uploader.js', ['live']) }}

{{ asset_add('styles.css', 'anomaly.module.files::less/dropzone.less') }}
{{ asset_add('styles.css', 'anomaly.module.files::less/uploader.less') }}

{{ html_style(asset_path("styles.css")) }}
{{ html_script(asset_path("scripts.js")) }}

<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::admin.upload_files') }}</h4>
</div>

<div class="modal-body">

    <form action="{{ url_to('files/upload') }}" id="uploader" class="dropzone">
        <div class="fallback">
            <input name="upload" type="file" multiple/>
        </div>
    </form>

</div>