<section class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">
            S3 PyroCMS
            {{ icon('database pull-right text-muted')|raw }}
        </h3>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item">{{ icon('home')|raw }} Home</a>
        <a href="#" class="list-group-item active">{{ icon('folder-open-o')|raw }} Images</a>
        <a href="#" class="list-group-item">{{ icon('folder-o')|raw }} Backups</a>
        <a href="#" class="list-group-item">{{ icon('folder-o')|raw }} Uploads</a>
    </div>

</section>
