<script type="text/javascript">
    var DROPZONE_MESSAGE = '{{ icon('upload') }}&nbsp;&nbsp;{{ trans('anomaly.module.files::uploader.instructions') }}';
    var DROPZONE_DRIVE = '{{ table.options.disk.id }}';
    var DROPZONE_FOLDER = '{{ table.options.folder.id }}';
</script>

<div class="container-fluid hidden">

    <form action="{{ url_to('files/upload') }}" id="uploader" class="dropzone">
        <div class="fallback">
            <input name="upload" type="file" multiple/>
        </div>
    </form>

</div>
