{% extends "theme::layouts/default" %}

{% block content %}

    {{ asset_add('styles.css', 'anomaly.module.files::less/dropzone.less') }}

    {{ asset_add('scripts.js', 'anomaly.module.files::js/dropzone.min.js') }}
    {{ asset_add('scripts.js', 'anomaly.module.files::js/upload.js') }}

    <div class="inner">
        <div class="container-fluid">

            <div class="panel">
                <div class="panel-heading">
                    <h4 class="title">
                        {{ folder.name }}
                        {% if folder.description %}
                            <br>
                            <small>{{ folder.description }}</small>
                        {% endif %}
                    </h4>
                </div>
            </div>


            <div class="panel">
                <div class="panel-body">

                    <div class="dropzone"
                         data-folder="{{ folder.id }}"
                         data-icon="{{ icon('upload')|escape }}"
                         data-allowed="{{ folder.allowed_types.value|join(',') }}"
                         data-message="{{ trans('module::message.upload') }}"></div>

                </div>
            </div>

            <div id="uploaded">
                {{ table.content|raw }}
            </div>

        </div>
    </div>
{% endblock %}